<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> meta}}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="inner">
                <h1><strong>TDR</strong> Today</h1>
                <h3>Your park guide to Tokyo Disney Resort</h3>
            </div>
        </header>
        <main>
            <div class="inner">
                <div class="widgets row">
                    {{!-- <div class="large-6 columns" id="weather"></div>
                    <div class="large-6 columns" id="hours"></div> --}}
                    <div class="item second" id="weather"></div>
                    <div class="item first" id="hours"></div>
                </div>
                <div class="widgets row">
                    <div class="item" id="tokyo-disneyland-wait"></div>
                </div>
            </div>
        </main>
        <footer>
            <div class="inner">
                <p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-magic"></i> by <a href="http://www.tdrexplorer.com">TDR Explorer</a></p>
            </div>
        </footer>
        
        {{> scripts}}
    </body>
</html>