<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> meta}}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="row">
                <h1><strong>TDR</strong>Now</h1>
                <h3>Your in-park guide to Tokyo Disney Resort</h3>
            </div>
        </header>
        <main id="content"></main>
        <footer>
            <div class="row">
                <p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-magic"></i> by <a href="http://www.tdrexplorer.com">TDR Explorer</a></p>
            </div>
        </footer>
        
        {{> scripts}}
    </body>
</html>