<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> meta}}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Tokyo Disney Resort NOW - powered by TDR Explorer</p>
        <div id="header"></div>

        {{> scripts}}
    </body>
</html>