// Utilizing Flexbox and its awesome-ness
// 
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// http://callmenick.com/post/flexbox-examples

.row {
  display: flex;

  @media (screen and max-width: 480px) {
    flex-direction: column;
  }

  .item {
    flex: 1;

    &.first {
      order: 1;
    }

    &.second {
      order: 2;
    }

    &.third {
      order: 3;
    }

    &.fouth {
      order: 4;
    }
  }
}
