header,
main,
footer {
  width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 1em;
  width: 100%;
}

header {
  background: url('../img/hero.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 40vh;

  h1,
  h2,
  h3,
  h4 {
    color: $font-default;
  }
}

main {
  margin: 0 auto;
  width: 100%;
}

footer {
  .fa-heart {
    color: $heart-icon;
  }

  .fa-magic {
    color: $wand-icon;
  }
}
