/** 
 * Mixin to prefix a property
 * https://css-tricks.com/snippets/sass/mixin-prefix-properties/
 * @param {String} $property - Property name
 * @param {*} $value - Property value
 * @param {List} $prefixes (()) - List of prefixes to print
 */
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin dark-transparent-bg($transparency) {
	background: rgba(37, 56, 78, $transparency);
}