.landing-header,
.main-content,
.footer {
  color: $font-default;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: $font-default;
}

.tdl { 
  background-color: $tdl-base;

  &:hover {
    background-color: darken($tdl-base, 5%);
  }
}

.tds { 
  background-color: $tds-base; 

  &:hover {
    background-color: darken($tds-base, 5%);
  }
}

.content {
  background: linear-gradient(rgba(20, 51, 100, 0.4), rgba(20, 51, 100, 0.4)), url('../img/hero.jpg');
  background-size: cover;
  height: 100vh;
}

.inner {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 $spacing;
  width: 100%;
}

.landing-header {
  height: 60vh;
  text-align: center;
  padding-top: $spacing * 2;
}

.landing-header_title,
.landing-header_weather,
.landing-header_time, {
  margin-bottom: $spacing;
}

.landing-header_h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.landing-header_h2 {
  margin-bottom: 0;
}

.landing-header_h3 {
  color: $light-gray;
}

.landing-header_temperature {
  cursor: pointer;
}

.main-content {
  height: 30vh;
  padding: $spacing;
  @include dark-transparent-bg(.84);
}

.main-content_button {
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  padding: $spacing / 2;
}

.main-content_link {
  color: $font-default;

  &:hover {
    color: $font-default;
  }
}

.main-content__hours {
  text-align: center;
}

.main-content__hours-tdl {
  color: $tdl-base;
}

.main-content__hours-tds {
  color: $tds-base;
}

main {

  ul {
    list-style-type: none;
    margin-left: 0;

    &:first-child {
      margin-bottom: $spacing;
    }

    .title {
      margin-bottom: $spacing;
    }
  }
}

.hours,
.weather {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-top: $spacing * 2;
  text-transform: uppercase;
}

.icon {
  height: 40px;
  margin-right: $spacing - .2;
}

.hours {
  h3 {
    margin-bottom: $spacing / 2;
  }

  h5 {
    margin-top: 0;
  }
}

.weather__header,
.hours__header {
  color: $font-default;

  &:hover {
    color: $font-default;
  }
}

.park-header {
  align-items: center;
  display: flex;
  height: 20vh;
  justify-content: center;
  text-align: center;
}

.park-header__tdl {
  background-color: $tdl-base-light;
}

.park-header__tds {
  background-color: $tds-base-light;
}

// http://lawrencenaman.com/css/responsive-slanted-divs-with-css/
.park-header__slant-tdl:before,
.park-header__slant-tdl:before {
  content: '';
  position: absolute;
  left: 0;
  top: -35px;
  overflow: visible;
  width: 100%;
  height: 35vh;
  background: red;
  z-index: -1;
  // -webkit-transform: skewY(-2deg);
  // -moz-transform: skewY(-2deg);
  // -ms-transform: skewY(-2deg);
  // -o-transform: skewY(-2deg);
  transform: skewY(10deg);
    -webkit-backface-visibility: hidden;
}

.attractions {
  background: $off-white;
  padding: $spacing;
  height: 100vh;
}


.attractions__header {
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  padding: $spacing / 4;
  width: 60vw;
}

.attractions__loading {
  text-align: center;
}

.attractions__loading-text {
  color: $dark-gray;
}

.attraction {
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background: $white;
  margin-bottom: $spacing;
  padding: $spacing / 2 $spacing;
}

.attraction__last {
  margin-bottom: 0;
}

.attraction__header {
  color: $dark-gray;
}

.attraction__detail-list {
  list-style-type: none;
  margin: 0;
}

.attraction__detail-list-item {
  display: inline-block;
  width: 50%;
}

.footer {
  height: 10vh;
  overflow: hidden;
  text-align: center;
  padding: $spacing;
  @include dark-transparent-bg(.84);
}

.footer__text {
  margin: 0;
}

.fa-heart {
  color: $heart-icon;
}

.fa-magic {
  color: $wand-icon;
}

