// Colors
// http://www.flatuicolorpicker.com/

$heart-icon: #d2527f;
$wand-icon: #446cb3;

$font-default: #fff;
$border-color: #eee;

$pink: rgba(222, 91, 107, 1);
$pink-light: rgba(222, 91, 107, .5);
$blue: rgba(73, 195, 211, 1);
$blue-light: rgba(73, 195, 211, .5);
$light-gray: rgb(216, 216, 216);
$off-white: rgb(248, 248, 248);
$white: rgb(255, 255, 255);
$dark-gray: rgb(74, 74, 74);
$orange: rgb(251, 169, 35);

$tdl-base: $pink;
$tdl-base-light: $pink-light;
$tds-base: $blue;
$tds-base-light: $blue-light;

$favourite-button: $orange;
$inactive: $light-gray;

// Measurements
$spacing: 1em;

// Prefixes
$browser-prefixes: 'webkit ms moz';
