// Colors
// http://www.flatuicolorpicker.com/

$heart-icon: #d2527f;
$wand-icon: #446cb3;

$font-default: #fff;
$border-color: #eee;

$pink: rgba(222, 91, 107, 1);
$blue: rgba(73, 195, 211, 1);
$light-gray: rgb(216, 216, 216);

$tdl-base: $pink;
$tds-base: $blue;

// Measurements
$spacing: 1em;

// Prefixes
$browser-prefixes: 'webkit ms moz';
