// Colors
// http://www.flatuicolorpicker.com/

$heart-icon: #d2527f;
$wand-icon: #446cb3;

$font-default: #fff;
$border-color: #eee;

// Measurements
$spacing: 1em;

// Prefixes
$browser-prefixes: 'webkit ms moz';
